.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: white;
  background-color: #222;
  gap: 40px;
  padding: 40px;
  height: 860px;
}

.item {
  text-align: center;
}

.div{
  background-color: #222;
}

.texto{
  background-color: gray;
}